* {box-sizing: border-box;}

body { background-color: #3F2860; 
color: #40407A; 
font-family: Verdana, Arial, sans-serif;
margin: 0;}

header {background-color: #40407A;
background-size: 100% 100%;
color: white;
font-size: 90%;
margin-top: 50px;
min-height: 200px;
}

h1 {padding-top: 50px;
padding-left: 2em;}

#wrapper{width: 80%;
background-color: #EFF464;
padding: 2em;}

header a{text-decoration: none;
}

header a:link{color: #FFF;}
header a:visited{color: #FFF;}
header a:hover{color: #EDF5F5;}

.content{height: 20vh;
padding-top: 2em;
padding-left: 10%}

#gallery {
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns */
    -webkit-column-gap:5px; /* give it a 5px gap between columns */
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:5;
    column-gap:5px;
 }

 #gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom:5px; /* to match column gap */
    filter: grayscale(100%);
    transition: filter 2s;
    margin: auto;
 }
 #gallery img:hover {
    filter:none;
 }
 @media (max-width: 1200px) {
    #gallery {
     -moz-column-count:    4;
     -webkit-column-count: 4;
     column-count:         4;
    }
 }

 @media (max-width: 1000px) {
    #gallery {
     -moz-column-count:    3;
     -webkit-column-count: 3;
     column-count:         3;
    }
 }

 @media (max-width: 800px) {
    #gallery {
     -moz-column-count:    2;
     -webkit-column-count: 2;
     column-count:         2;
    }
 }

 @media (max-width: 400px) {
    #gallery {
     -moz-column-count:    1;
     -webkit-column-count: 1;
     column-count:         1;
    }
 }

.link{
    width: 200px;
    height: 100px;
    border: 10px solid #2196F3;
    background-color: #f7f7f7;
    margin: auto;
    vertical-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
float: left;}

@media (min-width: 600px){
        nav ul{
                display: flex;
                flex-wrap: nowrap;
                justify-content: flex-end;
        }
        nav li{
                width: 7em;
        }
        section{
                padding-left: 2em;
                padding-right: 2em;
        }
        #mathero{
                display: block;
                padding-bottom: 1em;
        }
        #loungehero{
                display: block;
                padding-bottom: 1em;
        }
        #flow{
                display: flex;
                flex-direction: row;
        }
        #mobile{
                display: row;
        }
        #desktop{
                display: inline;
        }
        form{width: 60%;
        display: grid;
        grid-template-columns: 12em 1fr;
        gap: 1em;
        }
        input[type="submit"]{
        grid-column: 2 / span 1;
        width: 9em;
       } 
       label{
        text-align: right;
       }
}

@media (min-width: 1024px){
        header{
                font-size: 120%;
        }
        .home{
                height: 50vh;
                padding-top: 5em;
                padding-left: 8em;
        }
        .content{
                height: 30vh;
                padding-top: 1em;
                padding-left: 8em;
        }
        #wrapper{
                margin: auto;
                width: 80%;
        }
}